.main{
background-color:white;
width:980px;
margin:0px auto;
padding:5px;
}
.header{
background-color:black;
height:50px;
width:100%;
}
.logo{
text-align: left;
float: left;
width: 35%;
padding: 5px;
height:40px;
}
.nav{
height:60px;
}
.nav ul{
height: 35px;
list-style: outside none none;
margin: 0px;
padding:0px;
position:relative;
}
.nav ul li{
	padding:11px 25px;
	float:left;
}
.nav ul li:hover{	
background-color:blue;
text-decoration:none;
padding:13px 29px;
margin:0px;
}
.nav ul li a{
color:white;
text-decoration:none;
text-align:center;
}
.nav ul li:hover,.nav ul li:hover ul{
display:block !important;
background-color:black;

}
.nav ul li ul li:hover{
background-color:blue;
width:50%

}
.nav ul li ul{
height:100px;
width:120px;
position:absolute;
top:40px;
z-index:99999;
}
.nav ul li ul li{
float:none;
margin:2px 0px;
width:100px;
}
.banner{
	height:300px;
	width:100%;
}

.banner img{
height:300px;
margin:2px;
padding:3px 0px;
 width:100%;
 clear:both;
}
.innercolmn{
clear:both;
background-color:white;
width:100%;
height:150px;
margin:-10px;
}
.left img{
clear:both;
float: left;
height: 130px;
padding: 16px 1px;
width: 50%;
margin:0px auto;
}

.right img{
 clear: both;
 float: left;
 height: 130px;
 margin: -150px 480px;
 padding: 4px 9px;
 width: 50%;

}
.footer{
clear:both;
background-color:floralwhite;
font-size: 52px;
height: 90px;
width: 100%;
color:black;
margin:1px;
}