.navbar-wrapper{
	position: absolute;
    width: 100%;
}
.img-circle {
    padding: 35px;
    vertical-align: middle;
}
.navbar-inverse {
    background-color: #E37727;
    border-color: #080808;
}
.navbar-inverse .navbar-brand {
    color: black;
}
.navbar-inverse .navbar-nav > li > a {
    color: black;
}
.h1, .h2, .h4, .h5, .h6, h1, h2, h4, h5, h6 {
    color: orange;
    font-family: lato-light;
    font-weight: 500;
    line-height: 1.1;
	font-family: sans-serif;
}
.jumbotron {
    padding-bottom: 0;
    padding-top: 48px;
}
.jumbotron .container{
	width:100%;
}
.jumbotron .container img{
	width:100%;
	height:300px;
	
}
.mobile{
	padding:30px 0px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
	margin-top:50px;
}
.col-lg-12 h2{
	padding:20px;
}
.col-lg-12 h3 {
    text-align: center;
    color: #414141;
    font-weight: 400;
}

.btn-block {
    display: block;
    width: 40%;
	background-color:#E37727;
}

.center{
	text-align: center;
	
}
