body{
	margin:0 auto;
	padding-left:20px;
	width:900px;
	border:1px  solid;
	text-align:left;
}
h3{
	text-decoration:underline;
	}

.d1{
	width:30%;
	display:inline-block;
}
.d2{
	margin-top:20px;
	list-style:none;
	width:70%;
	float:right;
	display:inline-block;
}

.d2  li {
    line-height: 20px;
}
.d1 li {
    line-height: 20px;
}
