.main{

width:980px;
margin:0px auto;
padding:5px;
}
.container{
	background-color:black;
}
.header{
height:70px;
width:100%;
}
.logo{
text-align: left;
float: left;
width: 35%;
padding:5px;
height:40px;
}
.nav{
height:70px;
width:100%
}
.nav ul{
height: 30px;
list-style:none;
margin: 0;
padding:10px 10px;
}
.nav ul li{
padding: 12px 43px;
float:left;
list-style:none;
}
.nav ul li a{
color:white;
text-decoration:none;

}
.banner{
	width:99%;
}

.banner img{
height:450px;
width:100%;
padding: 0 5px;

}
.innercolmn{
background-color:black;

width:100%;

}
.innercolmn h1 {
color: #b48d48; 
font-family: 'Archer SSm A', 'Archer SSm B'; 
font-weight: 200;
font-style: italic;
font-size: 3.0em;
margin: 0;
padding:50px 11px;
clear:both;

 
}
.middlecolmn{
background-color:black;
width:100%;
}
.row{
	float: left;
	width: 100%;
	color: #fff;
	margin-bottom: 10px;
}

.row .left{
	float: left;
	width: 40%;
	text-align: center;
}


.row .right{
	float: left;
	padding: 0 1%;
    width: 58%;
}
.row .right p{
	margin: 0px;
}

.right img{
float:left;
padding: 165px 10px;
clear:both;
}

.left p{
padding: 176px 8px;
font-size:30px;
}	
}
.left {
color:black;
line-height: 1.5em;
padding: 0 0 1em 0;
font-size: 1.5em;
padding:92px;
}

.footer{
	clear: both;
	background-color:black;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

